<section id="select-cat-dif">
    <form action='@Url.Action("ConfigurarJuego")'>
        <h1>PICK TOPIC</h1>
        <main>
            @foreach(Categoria categoria in ViewBag.Categorias)
            {
                <div class="categoria">
                    <label><input type="radio" name="categoria" value="@categoria"><img src="@categoria.Foto" alt="@categoria.Nombre"></label>
                </div>
            }
            <div class="categoria">
                <label><input type="radio" name="categoria" value="-1"><img src="/img/todasCategorias.PNG" alt="Todas las categorías"></label>
            </div>     
        </main>
        <h1>PICK DIFFICULTY</h1>
        <main>
            @foreach(Dificultad dificultad in ViewBag.Dificultades){
                <div class="dificultad">
                    <label><input type="radio" name="dificultad" value="@dificultad"><h4>DIFICULTAD @dificultad.Nombre</h4></label>
                </div>
            }
            <div class="dificultad">
                <label><input type="radio" name="dificultad" value="-1"><h4>TODAS LAS DIFICULTADES</h4></label>
            </div>
        </main>
        <button type="submit" class="btn btn-warning">PLAY</button>
    </form>
</section>
