<section>
    @if(!ViewBag.Acierto){
        <div id="Perdida"><a href="index.html"><h1>PERDISTE :(</h1></a></div>
    }else if (ViewBag.Puntaje==1000||ViewBag.PreguntaProxima==null){
        <div id="Victoria"><a href="index.html"><h1>¡GANASTE!</h1></a></div>
    }
    <a href='@Url.Action("ConfigurarJuego")'>
        <button type="button" class="btn btn-warning">PLAY AGAIN</button>
    </a>
</section>
<!--@{
    ViewData["Title"] = "El fin";
}
<div class="centrar">
<h1>Usuario: @ViewBag.Username</h1>
</div>
<div class="centrar">
<h1>Puntaje Final: @ViewBag.Puntaje</h1>
</div>
<div class="centrar">
<a href='@Url.Action("ConfigurarJuego")' id="boton">
        <button type="button" class="btn btn-outline-success">Comenzar</button>
</a>
</div>
-->
<!--<p>@ViewBag.Username</p>
<h2>Puntaje Final: </h2> <p>@ViewBag.PuntajeFinal</p>
<button><a href='@Url.Action("ConfigurarJuego")'>Volver a Jugar</button>-->