<body  class="juego">
<section>
    <main class="pregunta">
        <div>
        
            <h5>@ViewBag.Categorias[ViewBag.PreguntaProxima.IdCategoria].Nombre</h5>
            <p>@ViewBag.PreguntaProxima.Enunciado</p>
        </div>
        @if (ViewBag.PreguntaProxima.Foto!=null){
            <div>
                <img src="@ViewBag.PreguntaProxima.Foto">
            </div>
        }
    </main>
    
    <main class="respuesta">
    <form action= '@Url.Action("VerificarRespuesta")' method="post">
    @foreach (Respuesta respuesta in ViewBag.RespuestasProximas)
        {
            <a href= '@Url.Action("VerificarRespuesta, new {idPregunta=ViewBag.PreguntaProxima.IdPregunta,idRespuesta=respuesta.IdRespuesta}")'><input type="radio" value="@respuesta.IdRespuesta" name="idRespuesta"><h5>@respuesta.Contenido</h5></a>

        }
    </form>
    </main>
    
    
</section>
</body>