<section class="juego">
    <main class="pregunta">
        <div>
            <p>@ViewBag.PreguntaProxima.Enunciado</p>
        </div>
        @if (ViewBag.PreguntaProxima.Foto!=null){
            <div>
                <img src="@ViewBag.PreguntaProxima.Foto">
            </div>
        }
    </main>
    
    <main class="respuesta">
    <form action='@Url.Action("VerificarRespuesta", new {idPregunta = ViewBag.PreguntaProxima.IdPregunta})' method="post">
    @foreach (Respuesta respuesta in ViewBag.RespuestasProximas)
        {
            <div>
                <input type="radio" value="@respuesta.IdRespuesta" name="idRespuesta"><label><h5>@respuesta.Contenido</h5></label>
            </div>
        }
    </form>
    </main>
    
    
</section>