<body  class="juego">
<section>
    <main class="pregunta">
        <div>
            <p>@ViewBag.PreguntaProxima.Enunciado</p>
        </div>
        @if (ViewBag.PreguntaProxima.Foto!=null){
            <div>
                <img src="@ViewBag.PreguntaProxima.Foto">
            </div>
        }
    </main>
    
    <main class="respuesta">
    <form action='@Url.Action("VerificarRespuesta")' method="post">        
        
        @foreach (Respuesta respuesta in ViewBag.RespuestasProximas)
        {
            <div class="opcion">
                <input type="hidden" name="idPregunta" value="@respuesta.IdPregunta">
                <input type="radio" class="opcion" name="idRespuesta" value="@respuesta.IdRespuesta">
                <h5>@respuesta.Contenido</h5>
            </div>
        }
        <button type="submit" class="btn btn-warning">Verificar</button>
       
    </form>
</main>


    
</section>
</body>