<section>
    <main class="pregunta">
        <div>
            <p>@ViewBag.PreguntaProxima.Enunciado</p>
        </div>
        <div>
            <img src="@ViewBag.PreguntaProxima.Foto">
        </div>
    </main>
    <main class="respuesta">
    <form class="respuesta" action='@Url.Action("VerificarRespuesta")'>
        @foreach (Respuesta respuesta in ViewBag.RespuestasProximas)
        {
            <div>
                <label><input type="radio" name="respuesta" value="@respuesta.IdRespuesta"><h5>@respuesta.Contenido</h5></label>
            </div>
        }
        
    </form>
    </main>
</section>